.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8em;

}
#bmenu {
    font-size:25px;
    cursor:pointer;
    text-align: center;
    display: block;
    font-size: 3em;
}
.front {
    width: 100%;
}
.imagine {
background-image: url("images/mountain.jpg");
width: 100%;
height: 100vh;
background-position: center;
background-size: cover;
background-repeat: no-repeat;}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}


.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}



.container {
    position: relative;
    text-align: center;
    color: white;
}


.centered {
    text-align:right;
    position: absolute;
    top: 50%;
   
    transform: translate(-70%, -70%);
    font-size:20px;
    width: 50%;
}

p.oblique {
    font-style: oblique;
    
}


.fa-home {
    
    color: white;
    font-size: 35px;
    background-color: transparent;
    padding: 0px;
    border-radius: 30px;
    
}

body {
    background-image: url("images/background.jpg");
}

h1 {
    text-align: center;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.fa {
    align-content: flex-end;
    float: right
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position:absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: deepskyblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.title {
    font-size: 3em;
    text-align: center;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 10px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.linie {
    display: block;
   margin:auto;
    width: 100%;
    height: 5px;
    background: #000;
    border-radius: 30%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.eu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 50%;
}

.first {
text-align: center;
    font-size: 22px;


}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: deepskyblue;
    color: black;
}

.topnav a.active {
    background-color: deepskyblue;
    color: white;
}

.topnav-right {
    float: right;
}

.home {

    position: relative;
    left:18%;
   

}
.bc{background-color: white
    
}
.scris{ text-align:center;
margin-left:20px;
margin-right:20px;

}


.sq{
    display: block;
        margin-left:auto;
    margin-right:auto;
            
    
   
    transition:transform ;
    width:250px;
    height:200px;
    color:black;
   
    border-radius:20%;
    
        
}
.sq:hover {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
.mj{
    margin-top:5px;
    font-size:20px;
    margin-bottom: -10px;
}

.bw{
    display: block;
        margin-left:auto;
    margin-right:auto;
            
    
   
    transition:transform ;
    width:350px;
    height:280px;
    color:black;
   border-radius:10%;
    
    
        
}
.bw:hover {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
.titlu{text-align: center;
    font-size: 30px;

    
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.a {
    grid-column-start: 1;
    grid-column-end: 2;
   

}

.b {
    grid-column-start: 1;
    grid-column-end: 2;
   

}
.c{
    grid-column-start: 1;
    grid-column-end: 2;
   

}

.d {
    grid-column-start: 1;
    grid-column-end: 2;
   

}


@media screen and (min-width:750px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: auto;
    }
    
    

    .a {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 80px;

    }
    
      .b {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 80px;

    }
    
       .c {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 80px;

    }
    
      .d {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 80px;

    }
    
}